main {
    margin: 0 8.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
label {
    display: block;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 10rem 8.5rem 2.5rem 8.5rem;
}